
/* ID */
 
*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.pcview{
    display: block;
}   

.mbview{
    display: none;
}



@media all and (max-width: 600px) {
    
    .pcview{
        display: none !important;
    }

    .mbview{
        display: block !important;
    }
    
    
}
